body{
	background-color: black;
	
}

.navbar-brand{

	font-family: arial;
	width: inherit;

}

.intro-bg{
	background: url("images/door.jpg");
	background-size: cover;
	background-position: center;
	height: 667px;
	width: 100%;
}
.intro-txt{

	margin-top: 370px;
	font-family: Candara;


}
.intro-txt h1{
	color: #000033;
	font-weight     : bold;
	
}
.intro-txt h2{
	font-size: 30px;
	color: #fff;
	font-weight: 500;
}

.arrow{
	font-size: 50px;
	margin-top: 50px;
	}

.arrow a{
	color: #f0ff08;
}

#about{
	background-color: black;
	
	padding: 50px 0px 50px 0px;
}
.titles{
	color: #fff;
	}

.titles span{
	background: #8C868A;
	height: 1px;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

#knowledge{

	background: url("images/keyb.jpeg");
	background-size: cover;
	background-position: center;
	/*height: 667px;*/
}

#knowledge h3{
	color: black;
	padding-top: 50px;
	font-weight: 500;

}
.sub-section{
	color: white;
	margin-top: 55px;
}

.sub-section p{
	font-style: italic;
}



#contact{
	background-color: black;
	padding: 50px 0px 50px 0px;
	color: white;
}

.contact-details{
	margin: 50px 0px 80px 140px;
	font-family: Candara;
	font-size: 25px;
	text-wrap:supress;
	word-wrap: break-word;

}

.contact-icon{
	font-size: 25px;
}

.img-responsive{
	float: right;
	margin: 50px ;
	margin-top:40px ;
	position: relative;
	
}
img{
	width: 290px;
	height: 290px;


}



/* PIE CHART STYLES */
.chart {
    position: relative;
    display: inline-block;
    width: 200px; 
    height: 200px; 
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: black;

}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    color: black;


}

.percent {
    display: inline-block;
    line-height: 200px; 
    z-index: 2;
    font-size: 2em;
    color: black;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 1em;
    color: black;
}
#knh4{
	
	color: black;
	
	font-weight: bold;
}


/*Footer*/
.social li {

	list-style: none;
	background: none repeat scroll #2c3e50 ;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 40px;
	margin: 0 8px 0 0;
	padding: px;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {

	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background:#03071F ;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 10px 7px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #121212;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
/*CHANGED*/
